In [9]:
import pandas as pd
list = [10,20,30,40,50]
series = pd.Series(list)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
print(pd.date_range("2021-05-01","2021-05-12"))

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [11]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [24, 30, 28],
    "City": ["Delhi", "Mumbai", "Bangalore"]
}
df = pd.DataFrame(data)
print("Dictionary to DataFrame:\n", df)

Dictionary to DataFrame:
       Name  Age       City
0    Alice   24      Delhi
1      Bob   30     Mumbai
2  Charlie   28  Bangalore

In [14]:
print(pd.DataFrame([["A",24],["B",30]],columns=["Name","Age"]))
'''
data = [
    ["Alice", 24, "Delhi"],
    ["Bob", 30, "Mumbai"],
    ["Charlie", 28, "Bangalore"]
]
df = pd.DataFrame(data, columns=["Name", "Age", "City"])
print("2D List to DataFrame:\n", df)
'''

  Name  Age
0    A   24
1    B   30

'\ndata = [\n    ["Alice", 24, "Delhi"],\n    ["Bob", 30, "Mumbai"],\n    ["Charlie", 28, "Bangalore"]\n]\ndf = pd.DataFrame(data, columns=["Name", "Age", "City"])\nprint("2D List to DataFrame:\n", df)\n'

In [15]:
df = pd.read_csv("array.csv")
print("CSV to DataFrame:\n", df)

CSV to DataFrame:
          Country  Gold Medals
0  United States           46
1  Great Britain           27
2          China           26
3         Russia           19
4        Germany           17