In [30]:
import pandas as pd
import numpy as np

In [31]:
listdata = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(listdata)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [32]:
dateseries = pd.date_range("2021-05-01","2021-05-12")
print(dateseries)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [33]:
data = {
    "Name": ["Alice","Bob","Charlie"],
    "Age": [24, 30, 28],
    "City": ["Delhi","Mumbai","Banglore"]
}
df = pd.DataFrame(data)
df.to_csv("data1.csv", index=False)
dt = pd.read_csv("data1.csv")
print(df)
print(dt)

      Name  Age      City
0    Alice   24     Delhi
1      Bob   30    Mumbai
2  Charlie   28  Banglore
      Name  Age      City
0    Alice   24     Delhi
1      Bob   30    Mumbai
2  Charlie   28  Banglore

In [34]:
listdata = [
    [1,"Alice",15],
    [2,"Bob",15],
    [3,"Charlie",45]
]
df = pd.DataFrame(listdata, columns=["ID","Name","Score"])
print(df)
df.to_csv("data2.csv", index=False)

sorted_df = df.sort_values(by=["Score","Name"], ascending=[False,True])
print(sorted_df)

   ID     Name  Score
0   1    Alice     15
1   2      Bob     15
2   3  Charlie     45
   ID     Name  Score
2   3  Charlie     45
0   1    Alice     15
1   2      Bob     15

In [35]:
data = {
    "Name": ["Alice","Bob","Charlie"],
    "Age": [24,30,28]
}
df = pd.DataFrame(data, index=["a","b","c"])
print(df)

df_reset = df.reset_index(drop=True)
print(df_reset)

      Name  Age
a    Alice   24
b      Bob   30
c  Charlie   28
      Name  Age
0    Alice   24
1      Bob   30
2  Charlie   28

In [36]:
df = pd.read_csv("Data2.csv")
print(df.head(2))

   ID   Name  Score
0   1  Alice     15
1   2    Bob     15

In [37]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Occupation": ["Engineer", "Doctor", "Engineer", "Doctor"],
    "Salary": [50000, 80000, 55000, 90000]
}
df = pd.DataFrame(data)
df.to_csv("data3.csv", index=False)
avg_salary = df.groupby("Occupation")["Salary"].mean()
print(avg_salary)

Occupation
Doctor      85000.0
Engineer    52500.0
Name: Salary, dtype: float64

In [40]:
data ={
    "A": [1, np.nan, 3],
    "B": [1, 2, np.nan]
}

df = pd.DataFrame(data)
print(df)
print(df.fillna(0))

     A    B
0  1.0  1.0
1  NaN  2.0
2  3.0  NaN
     A    B
0  1.0  1.0
1  0.0  2.0
2  3.0  0.0

In [45]:
data ={ 
    "Name": ["A", "B","C"],
    "Profit":[1000, -500, 0]
}
df =pd.DataFrame(data)
df["Profit"] = df["Profit"] > 0
print(df)

  Name  Profit
0    A    True
1    B   False
2    C   False

In [46]:
data1 = {
    "eid":[101,102,103],
    "ename": ["Alice","Bob","Charlie"],
    "stipend": [10000, 15000, 12000]
}

data2 = {
    "eid": [101,102,103],
    "position": ["intern","Developer","trainee"]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df_merged = pd.merge(df1, df2, on="eid")
print(df_merged)

   eid    ename  stipend   position
0  101    Alice    10000     intern
1  102      Bob    15000  Developer
2  103  Charlie    12000    trainee