In [26]:
import pandas as pd
print(pd.Series([10, 20, 30, 40, 50]))

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [27]:
print(pd.date_range("2021-05-01","2021-05-12"))

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [28]:
#QN3 DICT  TO DF
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [24, 30, 28],
    "City": ["Delhi", "Mumbai", "Bangalore"]
}
df = pd.DataFrame(data)
print("Dictionary to DataFrame:\n", df)

Dictionary to DataFrame:
       Name  Age       City
0    Alice   24      Delhi
1      Bob   30     Mumbai
2  Charlie   28  Bangalore

In [29]:
#qn4
print(pd.DataFrame([["A",24],["B",30]],columns=["Name","Age"]))

  Name  Age
0    A   24
1    B   30

In [30]:
df = pd.read_csv("ex3.csv")  # replace with actual CSV filename
print("CSV to DataFrame:\n", df)

CSV to DataFrame:
          Country  Gold Medals
0  United States           46
1  Great Britain           27
2          China           26
3         Russia           19
4        Germany           17

In [31]:
#qn6 sort df multiple col
df = pd.DataFrame(data)
sorted_df = df.sort_values(by=["Age", "City"])
print("Sorted by Age & Salary:\n", sorted_df)

Sorted by Age & Salary:
       Name  Age       City
0    Alice   24      Delhi
2  Charlie   28  Bangalore
1      Bob   30     Mumbai

In [32]:
#qn7 
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [24, 30, 28]
}
df = pd.DataFrame(data, index=["a", "b", "c"])
print("Custom Indexing:\n", df)

df_reset = df.reset_index(drop=True)
print("\nConverted to Default Indexing:\n", df_reset)

Custom Indexing:
       Name  Age
a    Alice   24
b      Bob   30
c  Charlie   28

Converted to Default Indexing:
       Name  Age
0    Alice   24
1      Bob   30
2  Charlie   28

In [33]:
#qn8 first 2 rows
data = {"Name": ["Alice", "Bob", "Charlie"], "Age": [24, 30, 28]}
df = pd.DataFrame(data)
print("First 2 Rows:\n", df.head(2))

First 2 Rows:
     Name  Age
0  Alice   24
1    Bob   30

In [34]:
#qn9
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Occupation": ["Engineer", "Doctor", "Engineer", "Doctor"],
    "Salary": [50000, 80000, 55000, 90000]
}
df = pd.DataFrame(data)
avg_salary = df.groupby("Occupation")["Salary"].mean()
print("Average Salary per Occupation:\n", avg_salary)

Average Salary per Occupation:
 Occupation
Doctor      85000.0
Engineer    52500.0
Name: Salary, dtype: float64

In [35]:
import pandas as pd
import numpy as np

data = {
    "A": [1, np.nan, 3],
    "B": [4, 5, np.nan]
}
df = pd.DataFrame(data)
print("Before Filling NaN:\n", df)

df_filled = df.fillna(0)
print("\nAfter Filling NaN:\n", df_filled)

Before Filling NaN:
      A    B
0  1.0  4.0
1  NaN  5.0
2  3.0  NaN

After Filling NaN:
      A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0

In [36]:
import pandas as pd

data = {
    "cname": ["A", "B", "C"],
    "profit": [1000, -500, 0]
}
df = pd.DataFrame(data)
df["profit"] = df["profit"] > 0
print("Profit Column Converted to Boolean:\n", df)

Profit Column Converted to Boolean:
   cname  profit
0     A    True
1     B   False
2     C   False

In [37]:
import pandas as pd

df1 = pd.DataFrame({
    "eid": [101, 102, 103],
    "ename": ["Alice", "Bob", "Charlie"],
    "stipend": [1000, 1200, 1500]
})

df2 = pd.DataFrame({
    "eid": [101, 102, 103],
    "designation": ["Intern", "Trainee", "Junior"]
})

merged_df = pd.merge(df1, df2, on="eid")
print("Merged DataFrame:\n", merged_df)

Merged DataFrame:
    eid    ename  stipend designation
0  101    Alice     1000      Intern
1  102      Bob     1200     Trainee
2  103  Charlie     1500      Junior